.MyHeading-1{
    border:2px solid rgb(172, 214, 44);
            text-align: center;
            width:50%;
            color: rgb(110, 85, 174);
            background-color: azure;
            cursor: pointer;
}